
// color 
$primaryColor: rgb(229, 9, 20);
$whiteColor: #fff;
$blackColor: #000;
$lineColor: rgba(128, 128, 128, 0.7);

// form field 
$formBox: (
    lg : 56px,
    lg-down : 48px,
    sm : 32px,
);

// breakpoint 
$pc : 1280px;
$laptop : 960px;
$tablet : 600px;
$mobile : 480px;
// $mobile-sm : 360px; 
